body{
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
}
.header{
  display: block;
  padding:10px;
  background-color:none;
  color: white;
}
.Logo{
  display: inline-block;
  position: relative;
  float: left;
}
.NamaLogo{
  display: inline-block;
  text-align: left;
  margin:20px 30px 10px 10px;
}
#NamaLogo{
  font-size:24pt ;
  font-style: italic;
}
#Disability{
  height: 100px;
  width: 100px;
  border-radius: 100%
}
#user{
  height: 50px;
  width: 50px;
  border-radius: 100%
}
.menubar{
  display: inline-block;
  text-align: center;
  font-size: 18pt;
  padding-left: 100px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  float: left;
  padding: 10px;
}
.signIn{
  display: inline-block;
  text-align: right;
  font-size: 18pt;
  float: right;
  margin: 20px 10px 10px 30px;
}
