body{
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
}
.Logo{
  display: inline-block;
  position: relative;
  float: left;
}
