body{
  background-image: url("background.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  margin: 0;
}
a{
  color: white;
  text-decoration: none;
}
#NamaLogo a{
  text-decoration: none;
}
a:hover{
  color: black;
}
.Header{
  margin-top: 0px;
  width: 100%;
  display: flex;
  padding:10px;
  background-color:rgba(76, 83, 85, 0.84);
  color: white;
  justify-content: space-between;
}
#Logo{
  position: relative;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  float: left;
}
.NamaLogo{
  display: inline-block;
  text-align: left;
  margin-top: 10px;
}
#NamaLogo{
  font-size:24pt ;
  font-style: italic;
}
#user{
  height: 50px;
  width: 50px;
  border-radius: 100%
}
.menubar{
  padding-top: 20px;
  display: inline-block;
  text-align: center;
  font-size: 18pt;
  position: relative;
}
#Donate{
  border:none;
  border-bottom: solid 2px;
  border-color: black;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menubar li{
  float: left;
  padding: 10px;
}
.Sign{
  display: inline-block;
  text-align: right;
  font-size: 18pt;
  margin: 20px 10px 10px 30px;
}
.Masuk li{
  float: left;
  padding: 5px;
}
.Masuk{
  display: inline-block;
  text-align: right;
  font-size: 16pt;
  margin:10px 20px 10px 10px;
}

.BANK{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  justify-content: center;
}
.BANK img{
  height: 50px;
  width: 100px;
}
.ketawa{
  text-align: center;
  justify-content: center;
}
.ketawa img{
  height: 100px;
  width: 100px;
}
.kata{
  color: white;
  text-align: center;

}

/* Footer */
.Footer img{
  width: 25px;
  height: 25px;
}
.Footer{
  padding:10px;
  width: 100%;
  background-color:rgb(62, 65, 71);
  color: white;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.footerjudul{
  display: flex;
  justify-content: space-between;
}
.Ikuti{
  padding-right: 70px;
}
.Layanan{
  text-align: left;
  display: flex;
}
#Hubungi li{
  padding: 5px;
}
#akun li{
  padding: 5px;
}
.Sosmed{
  padding-right: 20px;
  text-align: left;
  display: flex;
}
.
